body {
    background-color: deeppink;
    color: #faf4f4;
    font-family: "Chiron Sung HK", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
    {

        